# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\laris\Documents\workspaces\seminar_zu_ausgewählten_forschungsthemen\java-frameworks-performance-benchmarking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
